@page "/overview"
@rendermode InteractiveServer

<PageTitle>HRMS - Overview</PageTitle>
<div class="card__grid__container">
    <div class="card card-simple">
        <header class="card__title">Test Card 1</header>
    </div>
    <div class="card card-simple">
        <header class="card__title">Test Card 2</header>
    </div>
    <div class="card card-simple">
        <header class="card__title">Test Card 3</header>
    </div>
    <div class="card card-simple">
        <header class="card__title">Test Card 4</header>
    </div>
</div>
