@inherits LayoutComponentBase

<div class="neko-init-container">
    <div class="neko-init-secondary-container">
        <div class="neko-init-card">
            <main>
                @Body
            </main>
        </div>
    </div>
</div>